body{
    margin: 0;
    padding: 0;
}
section{
   margin: 0 auto;
    background: repeating-radial-gradient(rgb(13, 35, 50), rgb(167, 53, 169));
    
    
    background-repeat: no-repeat;
    height: 657px;
    width: 100%;
}
.circle {
    
    background-image:url(img/76e7ee1ed40e41334f0e1e6ed8161e43.gif);
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: black; */
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 1px solid solid;
    position: relative;
    left: 35%;
    top:20%;
    box-shadow: 	0px 0px 41px 20px rgba(0,0,0,0.14),
		0px 0px 19px 6px rgba(0,0,0,0.03),
		0px 0px 26px 12px rgba(0,0,0,0.14),
		0px 0px 29px 12px rgba(0,0,0,0.14);
   
}

.line {
    height: 2px;
    width: 400px;
    background: rgba(119, 115, 115, 0);
    position: absolute;
    top: 49%;

}



.index-2 {
    transform: rotate(22.5deg);
   
}

.index-3 {
    transform: rotate(45deg);
}

.index-4 {
    transform: rotate(67.5deg);
}

.index-5 {
    transform: rotate(90deg);
}

.index-6 {
    transform: rotate(112.5deg);
}

.index-7 {
    transform: rotate(135deg);
}

.index-8 {
    transform: rotate(158deg);
}


.ball1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    /* background: repeating-radial-gradient(  rgb(246, 245, 245), black); */
    position: absolute;
    top: -200px;
    left: 50%;
    margin-left: -10px;
    animation: ballMovement1 4s infinite linear 0ms;
    
    z-index: 2;
}

.ball2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: -200px;
    left: 50%;
    margin-left: -10px;
    animation: ballMovement2 4s infinite linear 257ms;
    
    z-index: 3;
}

.ball3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: -200px;
    left: 50%;
    margin-left: -10px;
    animation: ballMovement3 4s infinite linear 514ms;
    
    z-index: 4;
}

.ball4 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: -200px;
    left: 50%;
    margin-left: -10px;
    animation: ballMovement4 4s infinite linear 771ms;
    
    z-index: 2;
}

.ball5 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: -200px;
    left: 50%;
    margin-left: -10px;
    animation: ballMovement5 4s infinite linear 1028ms;
    
    z-index: 2;
}

.ball6 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: -200px;
    left: 50%;
    margin-left: -10px;
    animation: ballMovement6 4s infinite linear 1285ms;
    z-index: 2;
    
}

.ball7 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: -200px;
    left: 50%;
    margin-left: -10px;
    animation: ballMovement7 4s infinite linear 1542ms;
    z-index: 2;
    
    
}
.ball8 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: -200px;
    left: 50%;
    margin-left: -10px;
    animation: ballMovement8 4s infinite linear 1810ms;
    z-index: 2;
   
}






@keyframes ballMovement1 {
    0% {
        top: -200px;

    }
    25%{
        top: -10px;
    }
    50%{
        top: 190px;
    }
    75%{
        top:-10px
    }
    100%{
        top:-200px
    }
}

@keyframes ballMovement2 {
    0% {
        top: -200px;

    }
    25%{
        top: -10px;
    }
    50%{
        top: 190px;
    }
    75%{
        top:-10px
    }
    100%{
        top:-200px
    }
    
}

@keyframes ballMovement3 {
    0% {
        top: -200px;

    }
    25%{
        top: -10px;
    }
    50%{
        top: 190px;
    }
    75%{
        top:-10px
    }
    100%{
        top:-200px
    }
    
}

@keyframes ballMovement4 {
    0% {
        top: -200px;

    }
    25%{
        top: -10px;
    }
    50%{
        top: 190px;
    }
    75%{
        top:-10px
    }
    100%{
        top:-200px
    }
    
}

@keyframes ballMovement5 {
    0% {
        top: -200px;

    }
    25%{
        top: -10px;
    }
    50%{
        top: 190px;
    }
    75%{
        top:-10px
    }
    100%{
        top:-200px
    }
    
}
@keyframes ballMovement6 {
    0% {
        top: -200px;

    }
    25%{
        top: -10px;
    }
    50%{
        top: 190px;
    }
    75%{
        top:-10px
    }
    100%{
        top:-200px
    }
    
}
@keyframes ballMovement7 {
    0% {
        top: -200px;

    }
    25%{
        top: -10px;
    }
    50%{
        top: 190px;
    }
    75%{
        top:-10px
    }
    100%{
        top:-200px
    }
    
}
@keyframes ballMovement8 {
    0% {
        top: -200px;

    }
    25%{
        top: -10px;
    }
    50%{
        top: 190px;
    }
    75%{
        top:-10px
    }
    100%{
        top:-200px
    }
    
}

